<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<style>
    html{
        overflow: hidden;
    }
</style>
<link rel="stylesheet" href="./libs/plyr.css">
<body style="width:100%; height: 100%; background-color: black">
    <div style="margin: auto;align-content: center;" id="video" data-plyr='{ "autoplay": "true" }' data-type="vimeo" data-video-id="252199630">
    </div>
<script src="./libs/plyr.js"></script>
<script>
    plyr.setup('#video');
</script>
</body>
</html>